.ap {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: flex-start;
}

.ap__item {
  display: flex;
  flex-flow: row nowrap;
  flex-basis: 0;
  flex: 1 1 0px;
  justify-content: flex-start;
  align-items: center;  
  margin-right: 2rem;
  margin-bottom: 3rem;
  min-width: 31%;
  max-width: 31%;
}

.ap__item:nth-child(4n) {
  margin-right: 0;
}

.ap__thumb {
  overflow: hidden;
  border-radius: 0.5rem;
  margin: -1rem;
  z-index: 1;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.25s linear;
}

.ap__item:hover {
  cursor: pointer;
}

.ap__item:hover .ap__thumb {
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2);
  transition: box-shadow 0.25s linear;
}

.ap__item .ap__thumb > img {
  transform: scale(1);
  transition: transform 0.25s linear;
}

.ap__item:hover .ap__thumb > img {
  transform: scale(1.1);
  transition: transform 0.25s linear;
}

.ap__info {
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 0 0.3rem 0.3rem 0;
  margin: 1rem;
  margin-left: 0;
  padding: 1.5rem;
  width: calc(100% - 3rem);
  transition: background-color 0.25s linear;
}

.ap__item:hover .ap__info {
  background-color: rgba(0, 0, 0, 0.2);
  transition: background-color 0.25s linear;
}

.ap__name {
  margin-top: 0 !important;
  margin-bottom: 0.5rem !important;
}

.ap__position {
  margin-bottom: 0;
}