.ap-custom-fields {
  &__field {
    display: grid;
    grid-template-columns: 20% auto;
    grid-template-rows: auto;
    grid-template-areas: "label element";

    &--label {
      grid-area: label;
      word-break: break-word;
      hyphens: auto;
    }

    &--element {
      grid-area: element;
    }
  }
}
