// Media queries
$tablet: 769px !default;
$desktop: 1281px !default;

// Colors
$black: rgb(0, 0, 0);
$white: rgb(255, 255, 255);

.ap {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;

  @media screen and (min-width: $tablet) {
    flex-flow: row wrap;
  }

  &__item {
    display: flex;
    flex-flow: row nowrap;
    flex-basis: 0;
    flex: 1 1 0px;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 3rem;
    width: 100%;
    max-width: 100%;

    @media screen and (min-width: $tablet) {
      margin-right: 6%;
      min-width: 47%;
      max-width: 47%;

      &:nth-child(2n) {
        margin-right: 0;
      }
    }

    @media screen and (min-width: $desktop) {
      margin-right: 5%;
      min-width: 30%;
      max-width: 30%;

      &:nth-child(2n) {
        margin-right: 5%;
      }

      &:nth-child(3n) {
        margin-right: 0;
      }
    }

    &:hover {
      .ap__thumb {
        box-shadow: 5px 5px 15px rgba($black, 0.2);
        transition: box-shadow 0.25s linear;

        > img {
          transform: scale(1.2);
          transition: transform 0.25s linear;
        }
      }

      .ap__info {
        background-color: rgba($black, 0.2);
        transition: background-color 0.25s linear;
      }
    }
  }

  &__thumb {
    overflow: hidden;
    border-radius: 0.5rem;
    margin: -2rem;
    z-index: 1;
    box-shadow: 0px 0px 10px rgba($black, 0.1);
    transition: box-shadow 0.25s linear;

    > img {
      transform: scale(1.1);
      transition: transform 0.25s linear;
    }
  }

  &__info {
    background-color: rgba($black, 0.1);
    border-radius: 0 0.3rem 0.3rem 0;
    margin: 1rem 0;
    padding: 0.8rem 0.8rem 0.8rem 3rem;
    width: calc(100% - 3rem);
    transition: background-color 0.25s linear;

    .button {
      margin-bottom: 0;
    }
  }

  &__name {
    margin-top: 0 !important;
    margin-bottom: 0.5rem !important;
  }

  &__popup {
    position: fixed;
    z-index: 2;
    will-change: opacity left;
    left: -99999px;
    opacity: 0;
    top: 0;
    width: 100vw;
    height: 100vh;

    &--visible {
      opacity: 1;
      left: 0;

      .ap__popup__window {
        opacity: 1;
      }
    }

    &__overlay {
      display: block;
      width: 100vw;
      height: 100vh;
      position: absolute;
      bottom: 0;
      left: 0;
      background-color: rgba($black, 0.6);
      cursor: pointer;
    }

    &__window {
      padding: 1rem;
      background: rgba($white, 0.8);
      position: absolute;
      z-index: 3;
      border-radius: 1rem;
      width: 40%;
      margin-left: -20%;
      left: 50%;
      top: 25%;
      max-height: 50vh;
      will-change: opacity;
      opacity: 0;
      overflow-x: hidden;
      overflow-y: auto;
    }

    &__content {
      padding-right: 2.5rem;
    }

    &__links {
      width: 100%;
      display: flex;
      flex-flow: row nowrap;
      align-items: center;
      justify-content: flex-start;
    }

    &__link {
      width: 2rem;
      height: 2rem;
      margin-right: 0.75rem;
      cursor: pointer;
      opacity: 0.6;

      &:hover {
        opacity: 1;
      }
    }
  }

  &__close {
    width: 2rem;
    height: 2rem;
    border: none;
    border-radius: 0.2rem;
    margin: 0;
    cursor: pointer;
    padding: 0.3rem;
    position: absolute;
    top: 1rem;
    right: 1rem;
    background: rgba($white, 0.7);

    &:hover {
      background: $white;
    }
  }
}
