// Media queries
$tablet: 769px !default;
$desktop: 1281px !default;

.ap {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: flex-start;

  @media screen and (min-width: $tablet) {
    flex-flow: row wrap;
  }

  &__item {
    display: flex;
    flex-flow: row nowrap;
    flex-basis: 0;
    flex: 1 1 0px;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 3rem;
    width: 100%;
    max-width: 100%;

    @media screen and (min-width: $tablet) {
      margin-right: 6%;
      min-width: 47%;
      max-width: 47%;

      &:nth-child(2n) {
        margin-right: 0;
      }
    }

    @media screen and (min-width: $desktop) {
      margin-right: 5%;
      min-width: 30%;
      max-width: 30%;

      &:nth-child(2n) {
        margin-right: 5%;
      }

      &:nth-child(3n) {
        margin-right: 0;
      }
    }

    &:hover {
      cursor: pointer;

      .ap__thumb {
        box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2);
        transition: box-shadow 0.25s linear;

        > img {
          transform: scale(1.2);
          transition: transform 0.25s linear;
        }
      }

      .ap__info {
        background-color: rgba(0, 0, 0, 0.2);
        transition: background-color 0.25s linear;
      }
    }
  }

  &__thumb {
    overflow: hidden;
    border-radius: 0.5rem;
    margin: -1rem;
    z-index: 1;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.25s linear;

    > img {
      transform: scale(1.1);
      transition: transform 0.25s linear;
    }
  }

  &__info {
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 0 0.3rem 0.3rem 0;
    margin: 1rem 0;
    padding: 1.5rem 1.5rem 1.5rem 2rem;
    width: calc(100% - 3rem);
    transition: background-color 0.25s linear;
  }

  &__name {
    margin-top: 0 !important;
    margin-bottom: 0.5rem !important;
  }

  &__position {
    margin-bottom: 0;
  }

  &__popup {
    display: none;
    position: relative;
    z-index: 2;

    &.visible {
      display: block;
    }

    &__overlay {
      display: block;
      width: 100vw;
      height: 100vh;
      position: fixed;
      top: 0;
      left: 0;
      background-color: rgba(0, 0, 0, 0.6);
    }

    &__window {
      padding: 5rem;
      background: rgba(255, 255, 255, 0.6);
      position: fixed;
      z-index: 3;
      border-radius: 2rem 0;
      left: 50%;
      top: 50%;
    }
  }
}
